.vagrant
Vagrantfile
minetest/*
!minetest/mods
!minetest/worlds
minetest/worlds/*
!minetest/worlds/world.mt.example
!minetest/worlds/world
minetest/worlds/world/*
!minetest/minetest.conf
vagrant_scripts/blockly/blockly.service
vagrant_scripts/minetest/minetest-server.service
vagrant_scripts/nginx/nginx.conf
