# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "centos/7"

  config.vm.provider :virtualbox do |vbox|
    vbox.name = "vagrant-mine-blockly"
  end

  config.vm.hostname = "mine-blockly"
end
