# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "centos/7"

  config.vm.provider :virtualbox do |vbox|
    vbox.name = "vagrant-mine-blockly"
  end

  config.vm.hostname = "mine-blockly"
  config.vm.synced_folder "blockly", "/home/vagrant/blockly"
  config.vm.network "forwarded_port", guest: 3000, host: 3000, auto_correct: true
  config.vm.provision :shell, privileged: false, :path => "vagrant_scripts/vagrant.sh"
end
