[Unit]
Description = Blockly Server
After = network.target

[Service]
Type = simple
User = BLOCKLY_USER
Restart = on-failure
RestartSec = 10s
ExecStart = RUN_SCRIPT

[Install]
WantedBy = multi-user.target
