gameid = minetest
backend = sqlite3
creative_mode = false
enable_damage = true
load_mod_always_noon = true
load_mod_blockly = true
load_mod_text_blocks = true
load_mod_whereami = true
player_backend = files
