[Unit]
Description = Minetest Server
After = network.target

[Service]
Type = simple
User = MINETEST_USER
Restart = on-failure
RestartSec = 10s
ExecStart = /usr/bin/minetestserver --quiet

[Install]
WantedBy = multi-user.target
