[Unit]
Description = Minetest Server
After = network.target

[Service]
Type = simple
User = minetest
Restart = always
ExecStart = /usr/bin/minetestserver --port 30000 --world /var/lib/minetest/.minetest/worlds/world --config /var/lib/minetest/.minetest/minetest.conf --logfile /var/lib/minetest/.minetest/debug.txt

[Install]
WantedBy = multi-user.target
