.authentication {
  &.index {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    form {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
      width: 485px;
      height: 124px;
      font-size: 80px;
      text-align: center;

      .name {
        width: 300px;
        padding: 0 5px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #ccc
      }

      button {
        width: 50px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
