html[dir=rtl] body.blocklies.index {
  .farSide {
    text-align: left;
  }
  td.tabmax {
    text-align: left;
  }
}

body.blocklies {
  &.index {
    background-color: #553b2e;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;

    .farSide {
      text-align: right;
      padding-top: 7.5px;
      padding-right: 15px;
    }

    /* Buttons */
    button {
      margin: 1px 5px;
      padding: 3px 10px;
      border-radius: 4px;
      border: 1px solid #ddd;
      font-size: large;
      background-color: #eee;
      color: #000;

      height: 28px;
      padding-top: 3px;

      &.primary {
        border: 1px solid #dd4b39;
        background-color: #dd4b39;
        color: #fff;

        &>img {
          opacity: 1;
        }
      }

      &>img {
        opacity: 0.6;
        vertical-align: text-bottom;
      }
      &:hover>img {
        opacity: 1;
      }
      &:active {
        border: 1px solid #888 !important;
      }
      &:hover {
        box-shadow: 2px 2px 5px #888;
      }
      &.disabled:hover>img {
        opacity: 0.6;
      }
      &.disabled {
        display: none;
      }
      &.notext {
        font-size: 10%;
      }

      /* Sprited icons. */
      .icon21 {
        height: 21px;
        width: 21px;
        background-image: image-url("blocklies/icons.png");
      }
      .trash {
        background-position: 0px 0px;
      }
      // .link {
      //   background-position: -21px 0px;
      // }
      .run {
        background-position: -42px 0px;
      }
    }

    h1 {
      font-weight: normal;
      font-size: 140%;
      margin: 8px 5px;
      color: white;
      font-weight: bold;
    }

    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      border: none;

      .header {
        background: -moz-linear-gradient(to bottom, #4c8220, #3b2616 30%, #553b2e);
        background: -webkit-linear-gradient(to bottom, #4c8220,#3b2616 30%, #553b2e);
        background: linear-gradient(to bottom, #4c8220, #3b2616 30%, #553b2e);
      }

      /* Tabs */
      .tab-row {
        height: 1em;

        td {
          border: 1px solid #ccc;
          border-bottom: none;
          white-space: nowrap;
          font-size: 10px;
          font-weight: bold;
          line-height: 24px;

          &.tabon {
            border-bottom-color: #ddd !important;
            background-color: #ddd;
            padding: 5px 19px;
            font-size: 16px !important;
          }
          &.taboff {
            background-color: white;
            cursor: pointer;
            padding: 5px 19px;
          }
          &.taboff:hover {
            background-color: #eee;
          }
          &.tabmin {
            border-top-style: none !important;
            border-left-style: none !important;
            border-right-style: none !important;
          }
          &.tabmax {
            border-top-style: none !important;
            border-left-style: none !important;
            border-right-style: none !important;
            width: 99%;
            padding-left: 10px;
            padding-right: 10px;
            text-align: right;
          }
        }
      }
    }
    .content {
      visibility: hidden;
      margin: 0;
      padding: 1ex;
      position: absolute;
      direction: ltr;
    }
    pre.content {
      background: #4e4e4e;
      border: 1px solid #ccc;
      overflow: scroll;

      .pln {
        color: #ddd;
      }
    }
    .content-blocks {
      padding: 0;
    }
    .blocklySvg {
      border-top: none !important;
    }
    .content-xml {
      background: #4e4e4e;
      color: white;
      resize: none;
      outline: none;
      border: 1px solid #ccc;
      font-family: monospace;
      overflow: scroll;
    }

    .restore-modal {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 90;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);

      .modal-window {
        width: 480px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

        .modal-header {
          font-weight: bold;
        }
        .program-list {
          list-style: none;
        }
        .modal-footer {
          text-align: right;
        }
        a {
          cursor: pointer;
          color: #48f;
        }
      }
    }

    .overlay {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      background-color: black;
      opacity: 0.6;
      z-index: 100;
    }
    .navbar-side {
      height: 100%;
      width: 30%;
      position: fixed;
      top: 0;
      right: 0;
      padding: 5px;
      list-style: none;
      border-left: 2px solid #ccc;
      background-color: #f7f7f9;
      overflow-y: scroll;
      z-index: 1000;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;

      &.reveal {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: 300ms ease;
        transition: 300ms ease;
      }
    }

    .dashboard-wrap {
      .dashboard {
        padding: 5px;
        background-color: #e7f8ff;
        position: fixed;
        right: -350px;
        top: 81px;
        z-index: 500;
        width: 350px;
        -webkit-transition: .3s;

        &.open {
          right: 0;
        }

        .index {
          color: white;
          font-weight: bold;
          cursor: pointer;
          position: absolute;
          left: -109px;
          top: 86px;
          transform: rotate(-90deg);

          background: #03A9F4;
          padding: 2px 10px;
          font-size: 13px;
          letter-spacing: 2px;

          border-radius: 10px 10px 0px 0px;
          -webkit-border-radius: 10px 10px 0px 0px;
          -moz-border-radius: 10px 10px 0px 0px;

          // disable focus
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }

        .workspaces {
          overflow: auto;

          .row {
            border-bottom: 2px dashed #91d0ea;
            padding: 3px 0 3px;

            .name {
              word-wrap: break-word;
              font-weight: bold;
            }

            .restore a {
              font-size: 14px;
              font-weight: bold;
              color: #189a1d;
            }

            .destroy a {
              font-size: 14px;
              font-weight: bold;
              color: #dc3545;
            }
          }
        }
      }
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: 119px;
      padding: 5px;
      background-color: #4e4e4e;
      color: #969292;

      .language-menu {
        font-size: 11px;
        width: 100%;
        height: 24px;
      }
    }
  }
}
