.blocklyTreeRow {
  padding-right: 5px;
  border-width: 5px !important;

  .blocklyTreeIcon {
    display: none !important;
  }
  .blocklyTreeLabel {
    padding-left: 5px;
    font-weight: bold;
  }
}
